<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/signup.css">
    <link rel="stylesheet" href="../styles/adaptive_styles/login-signup-adaptive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="d-flex">
<div class="main container text-center d-flex align-items-center justify-content-center flex-column">
    <div class="logo mb-5">
        <img src="../static/images/logo.png" alt="Logo">
    </div>
    <div class="login w-100">
        <div class="login-text mb-3 fs-1">
            Создайте аккаунт
        </div>
        <div class="login-fields d-flex flex-column mb-3">
            <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
                <span class="input-group-text" id="data">
                    <img src="../static/images/person-icon.png" alt="lock-icon">
                </span>
                <input type="text" class="form-control" placeholder="ФИО" aria-label="Data"
                       aria-describedby="data">
            </div>
            <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
                <span class="input-group-text" id="email">
                    <img src="../static/images/email-icon.png" alt="email-icon">
                </span>
                <input type="text" class="form-control" placeholder="Электронная почта" aria-label="Email"
                       aria-describedby="email">
            </div>
            <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
                <span class="input-group-text" id="password">
                    <img src="../static/images/lock-icon.png" alt="lock-icon">
                </span>
                <input type="text" class="form-control" placeholder="Пароль" aria-label="Password"
                       aria-describedby="password">
            </div>
            <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
                <span class="input-group-text" id="repeat-password">
                    <img src="../static/images/lock-icon.png" alt="lock-icon">
                </span>
                <input type="text" class="form-control" placeholder="Подтверждение пароля" aria-label="Password-verification"
                       aria-describedby="repeat-password">
            </div>
        </div>
    </div>
    <div class="login-actions w-100">
        <button class="btn btn-primary w-100 mb-2" type="button">Войти</button>
        <div class="login-actions-link text-start">
            Уже есть аккаунт?
            <a href="../index.html" class="login-actions-link-signup mx-2 link-primary">Войдите в систему</a>
        </div>
    </div>
</div>
</body>
</html>