@media screen and (max-width: 1440px) {
    .main-info-title {
        font-size: 36px !important;
    }
}

@media screen and (max-width: 1229px) {

}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
    .main-info {
        margin-left: 20px !important;
    }
}

/* 425 - 767 */
@media screen and (max-width: 767px) {
    .main-info {
        margin-left: 0 !important;
        margin-top: 0 !important;
        width: 100% !important;
    }

    .main-info-title {
        text-align: center;
        margin-bottom: 15px !important;
    }

    .main-info-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
}

/* 375 - 424 */
@media screen and (max-width: 424px) {
    .main-info-inputs {
        padding: 0 10px !important;
    }

    .form-control {
        font-size: 14px !important;
    }
}

/* 320 - 374 */
@media screen and (max-width: 374px) {

}