@media screen and (max-width: 1229px) {
    .main-info {
        margin-left: 10px !important;
    }

    .container-fluid {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
    }

    .main-info-action {
        display: block !important;
        justify-content: center;
    }

    .main-info-action .navbar .btn {
        margin-right: 10px;
        width: unset;
        height: unset;
    }

    .main-info-action-dates {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .main-info-diagrams {
        flex-direction: column !important;
        margin-top: 60px;
        margin-left: 0 !important;
    }

    .wrapper-diagram-gain, .wrapper-diagram-cost {
        display: flex !important;
        justify-content: center;
        align-items: center !important;
    }

    .border-divider {
        height: 0;
        width: 100%;
        margin-bottom: 16px;
    }
}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
    .main-info {
        margin-left: 20px !important;
    }

    .main-info-action .navbar .btn {
        font-size: 14px;
    }

    .main-info-action-dates > * {
        font-size: 14px !important;
    }

    .main-info-diagrams {
        margin-top: 30px;
    }

    .diagram-title {
        font-size: 20px !important;
    }

    .diagram-colors {
        justify-content: center !important;
        column-gap: 8px;
    }

    .pie-diagram {
        max-height: 360px;
        max-width: 360px;
    }

    .wrapper-diagram-gain, .wrapper-diagram-cost {
        max-width: max-content !important;
    }

    .btn-link {
        padding: 8px !important;
    }
}

/* 425 - 767 */
@media screen and (max-width: 767px) {
    .main-info {
        margin-left: 5px !important;
        margin-top: 0 !important;
    }

    .main-info-title {
        text-align: center;
        margin-bottom: 15px !important;
    }

    .main-info-diagrams {
        margin-top: 20px;
    }

    .wrapper-diagram-gain > *, .wrapper-diagram-cost > * {
        max-width: 415px !important;
    }

    .main-info-action-dates {
        margin-right: 5px;
    }

    .btn-link {
        padding: 5px !important;
    }

    .border-divider {
        display: none !important;
    }
}

/* 375 - 424 */
@media screen and (max-width: 424px) {
    .wrapper-diagram-gain > *, .wrapper-diagram-cost > * {
        max-width: 370px !important;
    }

    .container-fluid {
        grid-row-gap: 10px;
    }

    .main-info-action .navbar .btn {
        margin-right: 0;
        font-size: 12px;
        width: 95px;
        justify-self: center;
    }

    .main-info-action-dates > * {
        font-size: 12px !important;
    }

    .diagram-title {
        font-size: 18px !important;
    }

    .diagram-colors {
        column-gap: 5px;
    }

    .pie-diagram {
        margin-right: 7px !important;
    }

    .rectangle {
        width: 30px;
    }
}

/* 320 - 374 */
@media screen and (max-width: 374px) {
    .wrapper-diagram-gain > *, .wrapper-diagram-cost > * {
        max-width: 300px !important;
    }

    .wrapper-diagram-gain {
        justify-content: unset;
    }

    .diagram-colors > span {
        font-size: 10px;
    }

    .diagram-colors {
        margin-bottom: 5px !important;
    }

    .pie-diagram {
        margin: 0 5px 0 10px !important;
    }
}