<div class="main-info mt-5 pt-5 ms-5 ps-3 w-75">
    <div class="main-info-title fs-1 mb-4 pb-3">
        Расходы
    </div>
    <div class="main-info-action d-flex align-items-center flex-wrap">
        <div class="card w-25">
            <div class="card-body">
                <h3 class="card-title">Еда</h3>
                <div class="card-buttons d-flex">
                    <a href="#/edit-expense" class="button edit-button btn btn-primary me-2 px-3 py-2">Редактировать</a>
                    <a href="#" class="button delete-button btn btn-danger px-3 py-2" data-bs-toggle="modal"
                       data-bs-target="#modal">Удалить</a>
                </div>
            </div>
        </div>
        <div class="card w-25">
            <div class="card-body">
                <h3 class="card-title">Жильё</h3>
                <div class="card-buttons d-flex">
                    <a href="#/edit-expense" class="button edit-button btn btn-primary me-2 px-3 py-2">Редактировать</a>
                    <a href="#" class="button delete-button btn btn-danger px-3 py-2" data-bs-toggle="modal"
                       data-bs-target="#modal">Удалить</a>
                </div>
            </div>
        </div>
        <div class="card w-25">
            <div class="card-body">
                <h3 class="card-title">Здоровье</h3>
                <div class="card-buttons d-flex">
                    <a href="#/edit-expense" class="button edit-button btn btn-primary me-2 px-3 py-2">Редактировать</a>
                    <a href="#" class="button delete-button btn btn-danger px-3 py-2" data-bs-toggle="modal"
                       data-bs-target="#modal">Удалить</a>
                </div>
            </div>
        </div>
        <div class="card w-25">
            <div class="card-body">
                <h3 class="card-title">Кафе</h3>
                <div class="card-buttons d-flex">
                    <a href="#/edit-expense" class="button edit-button btn btn-primary me-2 px-3 py-2">Редактировать</a>
                    <a href="#" class="button delete-button btn btn-danger px-3 py-2" data-bs-toggle="modal"
                       data-bs-target="#modal">Удалить</a>
                </div>
            </div>
        </div>
        <div class="card w-25">
            <div class="card-body">
                <h3 class="card-title">Авто</h3>
                <div class="card-buttons d-flex">
                    <a href="#/edit-expense" class="button edit-button btn btn-primary me-2 px-3 py-2">Редактировать</a>
                    <a href="#" class="button delete-button btn btn-danger px-3 py-2" data-bs-toggle="modal"
                       data-bs-target="#modal">Удалить</a>
                </div>
            </div>
        </div>
        <div class="card w-25">
            <div class="card-body">
                <h3 class="card-title">Одежда</h3>
                <div class="card-buttons d-flex">
                    <a href="#/edit-expense" class="button edit-button btn btn-primary me-2 px-3 py-2">Редактировать</a>
                    <a href="#" class="button delete-button btn btn-danger px-3 py-2" data-bs-toggle="modal"
                       data-bs-target="#modal">Удалить</a>
                </div>
            </div>
        </div>
        <div class="card w-25">
            <div class="card-body">
                <h3 class="card-title">Развлечения</h3>
                <div class="card-buttons d-flex">
                    <a href="#/edit-expense" class="button edit-button btn btn-primary me-2 px-3 py-2">Редактировать</a>
                    <a href="#" class="button delete-button btn btn-danger px-3 py-2" data-bs-toggle="modal"
                       data-bs-target="#modal">Удалить</a>
                </div>
            </div>
        </div>
        <div class="card w-25">
            <div class="card-body">
                <h3 class="card-title">Счета</h3>
                <div class="card-buttons d-flex">
                    <a href="#/edit-expense" class="button edit-button btn btn-primary me-2 px-3 py-2">Редактировать</a>
                    <a href="#" class="button delete-button btn btn-danger px-3 py-2" data-bs-toggle="modal"
                       data-bs-target="#modal">Удалить</a>
                </div>
            </div>
        </div>
        <div class="card w-25">
            <div class="card-body">
                <h3 class="card-title">Спорт</h3>
                <div class="card-buttons d-flex">
                    <a href="#/edit-expense" class="button edit-button btn btn-primary me-2 px-3 py-2">Редактировать</a>
                    <a href="#" class="button delete-button btn btn-danger px-3 py-2" data-bs-toggle="modal"
                       data-bs-target="#modal">Удалить</a>
                </div>
            </div>
        </div>
        <div class="card w-25">
            <a href="#/create-expense" class="card-body py-5 d-flex justify-content-center m-1">
                <img src="../images/plus.svg" alt="add-card">
            </a>
        </div>
    </div>
</div>
<div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content border">
            <div class="modal-body p-0">
                <p class="modal-text fs-5 m-0 text-center mb-3">Вы действительно хотите удалить категорию?</p>
            </div>
            <div class="modal-footer border-0 p-0 justify-content-center">
                <button type="button" id="confirm-delete" class="btn btn-success button-delete px-3 py-2 m-0 me-1">
                    Да, удалить
                </button>
                <button type="button" id="reject-delete" class="btn btn-danger button-delete px-3 py-2 m-0 ms-1"
                        data-bs-dismiss="modal">
                    Не удалять
                </button>
            </div>
        </div>
    </div>
</div>