<div class="main-info mt-5 pt-5 ms-5 ps-3 w-75">
    <div class="main-info-title fs-1 mb-4 pb-3">
        Создание категории доходов
    </div>
    <div class="main-info-inputs">
        <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
            <input type="text" class="form-control" placeholder="Название..."
                   aria-label="title" aria-describedby="title">
        </div>
        <div class="main-info-actions mt-3">
            <a href="#" id="save-changes" class="btn btn-success action-button px-3 py-2 m-0 me-1">Создать</a>
            <a href="#/income" id="reject-delete" class="btn btn-danger action-button px-3 py-2 m-0 ms-1">
                Отмена
            </a>
        </div>
    </div>
</div>