<div class="main-info mt-5 pt-5 ms-5 ps-3 w-75">
    <div class="main-info-title fs-1 mb-4 pb-3">
        Создание дохода/расхода
    </div>
    <div class="main-info-inputs">
        <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
            <select class="form-control" required id="type-select">
                <option value="" disabled selected>Тип...</option>
                <option value="income">Доход</option>
                <option value="expense">Расход</option>
            </select>
        </div>
        <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
            <select class="form-control" required id="category-select">
                <option value="" disabled selected>Категория...</option>
                <option></option>
            </select>
        </div>
        <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
            <input type="number" class="form-control" placeholder="Сумма, в $...">
        </div>
        <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
            <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')"
                   id="date" placeholder="Дата...">
        </div>
        <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
            <input type="text" class="form-control" placeholder="Комментарий...">
        </div>
        <div class="main-info-actions mt-3">
            <button href="#" id="save-changes" class="btn btn-success action-button px-3 py-2 m-0 me-1">Создать</button>
            <button href="#/operations" id="reject-delete" class="btn btn-danger action-button px-3 py-2 m-0 ms-1">Отмена</button>
        </div>
    </div>
</div>