<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/login-signup.css">
    <link rel="stylesheet" href="../styles/adaptive_styles/login-signup-adaptive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="d-flex">
<div class="main container text-center d-flex align-items-center justify-content-center flex-column">
    <div class="logo mb-5">
        <img src="../static/images/logo.png" alt="Logo">
    </div>
    <div class="login w-100">
        <div class="login-text mb-3 fs-1">
            Вход
        </div>
        <div class="login-fields d-flex flex-column mb-3">
            <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
                <span class="input-group-text">
                    <img src="../static/images/email-icon.png" alt="email-icon">
                </span>
                <input type="text" id="email" class="form-control" placeholder="Электронная почта" aria-label="Email"
                       aria-describedby="email" required>
            </div>
            <div class="input-group flex-nowrap mb-2 border border-light-subtle rounded">
                <span class="input-group-text">
                    <img src="../static/images/lock-icon.png" alt="lock-icon">
                </span>
                <input type="password" id="password" class="form-control" placeholder="Пароль" aria-label="Password"
                       aria-describedby="password" required>
            </div>
            <div class="form-check text-start">
                <input class="form-check-input" type="checkbox" id="rememberMeCheckbox">
                <label class="form-check-label mx-1" for="rememberMeCheckbox">
                    Запомнить меня
                </label>
            </div>
        </div>
    </div>
    <div class="login-actions w-100">
        <button class="btn btn-primary w-100 mb-2" type="button" id="process" disabled>Войти</button>
        <div class="login-actions-link text-start">
            Ещё нет аккаунта?
            <a href="./signup.html" class="login-actions-link-signup mx-2 link-primary">Пройдите регистрацию</a>
        </div>
    </div>
</div>
</body>
</html>