<div class="main-info mt-5 pt-5 ms-5 ps-3">
    <div class="main-info-title fs-1 mb-5">
        Главная
    </div>
    <div class="main-info-action d-flex align-items-center">
        <nav class="navbar p-0">
            <form class="container-fluid justify-content-start px-0">
                <button class="btn btn-outline-secondary date-filter" type="button" id="todayBtn">Сегодня</button>
                <button class="btn btn-outline-secondary date-filter" type="button" id="weekBtn">Неделя</button>
                <button class="btn btn-outline-secondary date-filter" type="button" id="monthBtn">Месяц</button>
                <button class="btn btn-outline-secondary date-filter" type="button" id="yearBtn">Год</button>
                <button class="btn btn-outline-secondary date-filter" type="button" id="allBtn">Все</button>
                <button class="btn btn-outline-secondary date-filter" type="button" id="interval-btn" disabled>
                    Интервал
                </button>
            </form>
        </nav>
        <div class="main-info-action-dates d-flex align-items-center justify-content-center">
            <span>с</span>
            <div class="d-flex flex-column">
                <label class="btn btn-link text-secondary text-date" for="date-from" id="date-from-label">Дата</label>
                <input type="text" id="date-from" class="main-info-action-dates-input">
            </div>
            <span>по</span>
            <div class="d-flex flex-column">
                <label class="btn btn-link text-secondary text-date" for="date-to" id="date-to-label">Дата</label>
                <input type="text" id="date-to" class="main-info-action-dates-input">
            </div>
        </div>
    </div>
    <div class="main-info-diagrams d-flex ms-4">
        <div class="wrapper-diagram-gain mb-3">
            <div class="diagram-gain text-center d-flex flex-column mb-3">
                <div class="diagram-title fs-3 mb-3">
                    Доходы
                </div>
                <div id="categories-income">Нет данных по категориям</div>
                <div class="chart-wrapper">
                    <canvas id="first-pie" class="pie-diagram"></canvas>
                </div>
            </div>
        </div>
        <div class="border-divider border d-flex align-self-end"></div>
        <div class="wrapper-diagram-cost mb-3 d-flex flex-column align-items-end">
            <div class="diagram-cost text-center d-flex flex-column mb-3">
                <div class="diagram-title fs-3 mb-3">
                    Расходы
                </div>
                <div id="categories-expense">Нет данных по категориям</div>
                <div class="chart-wrapper">
                    <canvas id="second-pie" class="pie-diagram"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>