<div class="main-info mt-5 pt-5 ms-5 ps-3">
    <div class="main-info-title fs-1 mb-5">
        Главная
    </div>
    <div class="main-info-action d-flex align-items-center">
        <nav class="navbar p-0">
            <form class="container-fluid justify-content-start px-0">
                <button class="btn btn-outline-secondary active" type="button">Сегодня</button>
                <button class="btn btn-outline-secondary" type="button">Неделя</button>
                <button class="btn btn-outline-secondary" type="button">Месяц</button>
                <button class="btn btn-outline-secondary" type="button">Год</button>
                <button class="btn btn-outline-secondary" type="button">Все</button>
                <button class="btn btn-outline-secondary" type="button">Интервал</button>
            </form>
        </nav>
        <div class="main-info-action-dates">
            <span>с</span>
            <button type="button" class="btn btn-link text-secondary">Дата</button>
            <span>по</span>
            <button type="button" class="btn btn-link text-secondary">Дата</button>
        </div>
    </div>
    <div class="main-info-diagrams d-flex ms-4">
        <div class="wrapper-diagram-gain mb-3">
            <div class="diagram-gain text-center d-flex flex-column mb-3">
                <div class="diagram-title fs-3 mb-3">
                    Доходы
                </div>
                <div class="diagram-colors d-flex align-items-center justify-content-between mb-4">
                    <div class="rectangle bg-danger"></div>
                    <span>Red</span>
                    <div class="rectangle orange"></div>
                    <span>Orange</span>
                    <div class="rectangle yellow"></div>
                    <span>Yellow</span>
                    <div class="rectangle green"></div>
                    <span>Green</span>
                    <div class="rectangle bg-primary"></div>
                    <span>Blue</span>
                </div>
                <div class="chart-wrapper">
                    <canvas id="first-pie" class="pie-diagram"></canvas>
                </div>
            </div>
        </div>
        <div class="border-divider border d-flex align-self-end"></div>
        <div class="wrapper-diagram-cost mb-3 d-flex flex-column align-items-end">
            <div class="diagram-cost text-center d-flex flex-column mb-3">
                <div class="diagram-title fs-3 mb-3">
                    Расходы
                </div>
                <div class="diagram-colors d-flex align-items-center justify-content-between mb-4">
                    <div class="rectangle bg-danger"></div>
                    <span>Red</span>
                    <div class="rectangle orange"></div>
                    <span>Orange</span>
                    <div class="rectangle yellow"></div>
                    <span>Yellow</span>
                    <div class="rectangle green"></div>
                    <span>Green</span>
                    <div class="rectangle bg-primary"></div>
                    <span>Blue</span>
                </div>
                <div class="chart-wrapper">
                    <canvas id="second-pie" class="pie-diagram"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>