@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoMedium;
    src: url("../fonts/Roboto-Medium.ttf");
}

body,
html {
    height: 100%;
    font-family: Roboto, sans-serif;
}

.main {
    height: 100%;
}

.sidebar {
    max-width: 219px;
    background: white !important;
    font-size: 14px;
}

.logo {
    width: 98px;
    height: 40px;
}

.nav-item {
    width: 180px;
}

.nav-link {
    height: 40px;
}

.menu-link.active span {
    color: white;
}

.menu-link.active svg path {
    fill: white;
}

.btn-toggle {
    font-size: 14px;
    width: 180px !important;
    height: 40px;
    border-radius: 0;
    color: #052C65;
}

.btn-toggle::after {
    content: '';
}

.btn-toggle.active {
    border-radius: 0;
}

.btn-toggle.collapsed {
    border-radius: var(--bs-nav-pills-border-radius);
}

.btn-toggle.active.collapsed .category-arrow {
    transform: rotate(0deg);
}

.category-arrow {
    transition: 0.4s;
}

svg path {
    fill: #052C65;
}

.btn-toggle.active .category-arrow {
    transform: rotate(90deg);
}

.btn-toggle.active span, .btn-toggle.active .category-arrow path {
    color: white;
    fill: white;
}

.category-item {
    padding: 8px 0 8px 12px;
    font-size: 14px;
}

.category-item.active, .category-item.active .category-item-link {
    background: #0d6efd;
    color: white !important;
}

.balance {
    font-family: RobotoMedium, sans-serif;
    color: #052C65;
}

.nav-item span {
    color: #052C65;
}

.main-info-title {
    font-family: RobotoMedium, sans-serif;
    color: #052C65;
}

@media screen and (max-width: 1229px) {
    .main-info {
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 1023px) {
    .main-info-title {
        font-size: 32px !important;
    }
}

@media screen and (max-width: 767px) {
    .main {
        flex-direction: column !important;
        height: max-content;
    }

    .sidebar {
        padding: 12px 0 !important;
        border: 0 !important;
        align-items: center;
        max-width: 100%;
        height: 340px !important;
    }

    .logo-link {
        padding: 12px 0 !important;
        justify-content: center !important;
        margin-bottom: 10px;
        border-width: 1px !important;
        width: 100%;
    }

    .main-sidebar {
        padding: 0 !important;
        border: 0 !important;
        width: 100%;
    }

    .nav {
        margin-top: 0 !important;
        flex-direction: row !important;
        justify-content: center;
    }

    .balance {
        align-self: center;
        margin: 0 0 20px 0 !important;
    }

    .dropdown {
        align-self: center;
        padding: 0 !important;
        margin: 0 !important;
    }

    .dropdown-menu {
        transform: translate(117px, -30px) !important;
    }

    .dropdown-item {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 424px) {
    .nav-item {
        width: 155px;
    }

    .nav-item span {
        font-size: 12px;
    }

    .btn-toggle {
        width: 155px !important;
    }

    .category-arrow {
        margin-left: 40px !important;
    }

    .category-item-link {
        font-size: 12px;
    }

    .dropdown-menu {
        transform: translate(65px, -30px) !important;
    }

    .balance {
        font-size: 12px;
    }

    #dropdown {
        font-size: 12px;
    }

    .main-info-title {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 374px) {
    .nav-item {
        width: 147px;
    }

    .nav-link {
        padding: 8px 8px !important;
    }

    .btn-toggle {
        width: 147px !important;
        justify-content: center !important;
    }
}