.main-info-action {
    column-gap: 20px;
    row-gap: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-family: RobotoMedium, sans-serif;
    color: #052C65;
}

.button {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.modal-dialog {
    height: 90%;
}

.modal-content {
    padding: 34px 0 40px 0;
    max-width: 530px;
    max-height: 184px;
    top: calc(50% - 92px);
    left: calc(50% - 250px);
}

.modal-text {
    font-family: RobotoMedium, sans-serif;
    color: #290661;
}

.button-delete {
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 1440px) {
    .main-info-title {
        font-size: 36px !important;
    }

    .card {
        width: 274px !important;
    }

    .card-title {
        font-size: 24px;
    }
}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
    .main-info {
        margin-left: 20px !important;
    }

    .card {
        width: 245px !important;
    }

    .card-title {
        font-size: 20px;
    }

    .edit-button {
        padding: 8px !important;
    }

    .delete-button {
        padding: 8px !important;
    }

    .modal-content {
        padding: 25px 0;
        max-width: 430px;
        top: calc(50% - 65px);
        left: calc(50% - 215px);
    }

    .modal-text {
        font-size: 16px !important;
    }
}

/* 425 - 767 */
@media screen and (max-width: 767px) {
    .main-info {
        margin-left: 0 !important;
        margin-top: 0 !important;
        width: 100% !important;
    }

    .main-info-title {
        text-align: center;
        margin-bottom: 15px !important;
    }

    .main-info-action {
        justify-content: center;
        margin-bottom: 20px;
    }

    .modal-content {
        max-width: 330px;
        top: calc(50% - 62px);
        left: calc(50% - 165px);
    }

    .modal-text {
        font-size: 14px !important;
    }

    .button-delete {
        font-size: 12px
    }
}

/* 375 - 424 */
@media screen and (max-width: 424px) {
    .modal-content {
        padding: 15px 0;
    }
}

/* 320 - 374 */
@media screen and (max-width: 374px) {
    .modal-content {
        padding: 15px 0;
        max-width: 260px;
        top: calc(50% - 63px);
        left: calc(50% - 130px);
    }
}