.main-info-action {
    column-gap: 20px;
    row-gap: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-family: RobotoMedium, sans-serif;
    color: #052C65;
}

.button {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.modal-dialog {
    height: 90%;
}

.modal-content {
    padding: 34px 0 40px 0;
    max-width: 530px;
    max-height: 184px;
    top: calc(50% - 92px);
    left: calc(50% - 250px);
}

.modal-text {
    font-family: RobotoMedium, sans-serif;
    color: #290661;
}

.button-delete {
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
}