.input-group {
    max-width: 400px;
}

.action-button {
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
}

.input-group.error {
    border-color: red !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

select:required:invalid {
    color: rgba(33, 37, 41, 0.75);
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}