.main-info-action .navbar .btn {
    margin-right: 20px;
    font-family: RobotoMedium, sans-serif;
    width: 100px;
    height: 37px;
}

.main-info-action-dates {
    font-family: RobotoMedium, sans-serif;
}

.main-info-action-dates span {
    color: black;
}

.action-button {
    font-size: 14px;
}

.table {
    width: 1101px;
}

.thead {
    letter-spacing: 1.3px;
}

.thead th {
    color: #052C65;
}

.thead th, .tbody th, .tbody td {
    padding: 14px 10px 10px
}

.thead tr th:first-child {
    width: 120px;
}

.thead tr th:nth-child(2) {
    width: 120px;
}

.thead tr th:nth-child(3) {
    width: 120px;
}

.thead tr th:nth-child(4) {
    width: 145px;
}

.thead tr th:nth-child(5) {
    width: 145px;
}

.thead tr th:nth-child(6) {
    width: 210px;
}

.thead tr th:nth-child(7) {
    width: 85px;
}

.modal {
    background: #00000073;
}

.modal-content {
    padding: 34px 0 40px 0;
    max-width: 530px;
    max-height: 184px;
    top: calc(50% - 92px);
    left: calc(50% - 265px);
}

.modal-text {
    font-family: RobotoMedium, sans-serif;
    color: #290661;
}

.button-delete {
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
}





