@media screen and (max-width: 1229px) {
    .sidebar {
        max-width: 195px;
    }

    .main-sidebar {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .balance {
        margin-left: 10px !important;
    }

    .main-info {
        padding-left: 0 !important;
        margin-left: 10px !important;
    }

    .main-info-title {
        text-align: center;
    }

    .main-info-actions {
        text-align: center;
    }

    .container-fluid {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
    }

    .main-info-action {
        display: block !important;
        justify-content: center;
    }

    .main-info-action .navbar .btn {
        justify-self: center;
        width: 200px;
        height: unset;
        margin-right: 0;
    }

    .main-info-action .navbar .btn:first-child, .main-info-action .navbar .btn:nth-child(4) {
        justify-self: end;
    }

    .main-info-action .navbar .btn:nth-child(3), .main-info-action .navbar .btn:nth-child(6) {
        justify-self: start;
    }

    .main-info-action-dates {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 75px;
    }

    .table {
        max-width: 810px;
    }
}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
    .main-info {
        margin-left: 10px !important;
    }

    .main-info-title {
        font-size: 28px !important;
    }

    .main-info-action .navbar .btn {
        font-size: 14px;
        max-width: 150px;
    }

    .main-info-action-dates > * {
        font-size: 14px !important;
    }

    .main-info-action-dates {
        margin-right: 45px;
    }

    .btn-link {
        padding: 8px !important;
    }

    .main-info-table {
        margin-right: 10px;
    }

    .table {
        max-width: 552px;
    }

    th, td {
        font-size: 12px;
    }
}

/* 425 - 767 */
@media screen and (max-width: 767px) {
    .main {
        flex-direction: column !important;
        height: max-content;
    }

    .sidebar {
        padding: 12px 0 !important;
        border: 0 !important;
        align-items: center;
        max-width: 100%;
        height: 340px !important;
    }

    .logo-link {
        padding: 12px 0 !important;
        justify-content: center !important;
        margin-bottom: 10px;
        border-width: 1px !important;
        width: 100%;
    }

    .main-sidebar {
        padding: 0 !important;
        border: 0 !important;
        width: 100%;
    }

    .nav {
        margin-top: 0 !important;
        flex-direction: row !important;
        justify-content: center;
    }

    .balance {
        align-self: center;
        margin: 0 0 20px 0 !important;
    }

    .dropdown {
        align-self: center;
        padding: 0 !important;
        margin: 0 !important;
    }

    .dropdown-menu {
        transform: translate(117px, -30px) !important;
    }

    .dropdown-item {
        font-size: 14px !important;
    }

    .main-info {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .main-info-title {
        font-size: 24px !important;
        text-align: center;
        margin-bottom: 15px !important;
    }

    .action-button {
        font-size: 12px !important;
    }

    .main-info-action .navbar .btn {
        max-width: 115px;
    }

    .btn-outline-secondary {
        font-size: 12px !important;
    }

    .main-info-action-dates > * {
        font-size: 12px !important;
    }

    .main-info-action-dates {
        margin-right: 25px;
    }

    .btn-link {
        padding: 5px !important;
    }

    .main-info-table {
        margin-right: 0;
        margin-left: 5px;
    }

    .table {
        max-width: 415px;
    }

    .thead th, .tbody th, .tbody td {
        padding: 0;
        vertical-align: middle;
    }

    th, td {
        font-size: 10px;
    }

    .btn-delete {
        padding: 0 2px 6px 0 !important;
    }

    .btn-edit {
        padding: 0 0 6px 2px !important;
    }
}

/* 375 - 424 */
@media screen and (max-width: 424px) {
    .nav-item {
        width: 155px;
    }

    .nav-item span {
        font-size: 12px;
    }

    .btn-toggle {
        width: 155px !important;
    }

    .category-arrow {
        margin-left: 40px !important;
    }

    .category-item-link {
        font-size: 12px;
    }

    .dropdown-menu {
        transform: translate(65px, -30px) !important;
    }

    .balance {
        font-size: 12px;
    }

    #dropdown {
        font-size: 12px;
    }

    .main-info-title {
        font-size: 24px !important;
    }

    .container-fluid {
        grid-row-gap: 10px;
    }

    .main-info-action .navbar .btn {
        margin-right: 0;
        font-size: 12px;
        width: 95px;
        justify-self: center;
    }
}

/* 320 - 374 */
@media screen and (max-width: 374px) {
    .nav-item {
        width: 147px;
    }

    .nav-link {
        padding: 8px 8px !important;
    }

    .btn-toggle {
        width: 147px !important;
        justify-content: center !important;
    }
}