@media screen and (max-width: 1229px) {
    .main-info {
        padding-left: 0 !important;
        margin-left: 10px !important;
    }

    .container-fluid {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
    }

    .main-info-action {
        display: block !important;
        justify-content: center;
    }

    .main-info-action .navbar .btn {
        margin-right: 10px;
        width: unset;
        height: unset;
    }

    .main-info-action-dates {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .main-info-diagrams {
        flex-direction: column !important;
        margin-top: 60px;
        margin-left: 0 !important;
    }
}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
    .main-info {
        margin-left: 20px !important;
    }

    .main-info-title {
        font-size: 28px !important;
    }

    .main-info-action .navbar .btn {
        font-size: 14px;
    }

    .main-info-action-dates > * {
        font-size: 14px !important;
    }

    .btn-link {
        padding: 8px !important;
    }
}

/* 425 - 767 */
@media screen and (max-width: 767px) {
    .main {
        flex-direction: column !important;
    }

    .sidebar {
        padding: 12px 0 !important;
        border: 0 !important;
        align-items: center;
        max-width: 100%;
        height: 340px!important;
    }

    .logo-link {
        padding: 12px 0 !important;
        justify-content: center !important;
        margin-bottom: 10px;
        border-width: 1px !important;
        width: 100%;
    }

    .main-sidebar {
        padding: 0 !important;
        border: 0 !important;
        width: 100%;
    }

    .nav {
        margin-top: 0 !important;
        flex-direction: row !important;
        justify-content: center;
    }

    .main-info {
        margin-left: 5px !important;
        margin-top: 0 !important;
    }

    .main-info-title {
        text-align: center;
        margin-bottom: 15px !important;
    }

    .balance {
        align-self: center;
        margin: 0 0 20px 0 !important;
    }

    .dropdown {
        align-self: center;
        padding: 0 !important;
        margin: 0 !important;
    }

    .dropdown-menu {
        transform: translate(117px, -30px) !important;
    }

    .dropdown-item {
        font-size: 14px !important;
    }

    .main-info-action-dates {
        margin-right: 5px;
    }

    .btn-link {
        padding: 5px !important;
    }
}

/* 375 - 424 */
@media screen and (max-width: 424px) {
    .nav-item {
        width: 155px;
    }

    .nav-item span {
        font-size: 12px;
    }

    .btn-toggle {
        width: 155px !important;
    }

    .category-arrow {
        margin-left: 40px !important;
    }

    .category-item-link {
        font-size: 12px;
    }

    .dropdown-menu {
        transform: translate(65px, -30px) !important;
    }

    .balance {
        font-size: 12px;
    }

    #dropdown {
        font-size: 12px;
    }

    .main-info-title {
        font-size: 24px !important;
    }

    .container-fluid {
        grid-row-gap: 10px;
    }

    .main-info-action .navbar .btn {
        margin-right: 0;
        font-size: 12px;
        width: 95px;
        justify-self: center;
    }

    .main-info-action-dates > * {
        font-size: 12px !important;
    }
}

/* 320 - 374 */
@media screen and (max-width: 374px) {
    .nav-item {
        width: 147px;
    }

    .nav-link {
        padding: 8px 8px !important;
    }

    .btn-toggle {
        width: 147px !important;
        justify-content: center !important;
    }
}