.main-info-action .navbar .btn {
    margin-right: 20px;
    font-family: RobotoMedium, sans-serif;
    width: 100px;
    height: 37px;
}

.main-info-action-dates {
    font-family: RobotoMedium, sans-serif;
}

.main-info-action-dates span {
    color: black;
}

.action-button {
    font-size: 14px;
}

.table {
    max-width: 1100px;
}

.thead {
    letter-spacing: 1.3px;
}

.thead th {
    color: #052C65;
}

.thead th, .tbody th, .tbody td {
    padding: 14px 10px 10px
}

.thead tr th:first-child {
    width: 120px;
}

.thead tr th:nth-child(2) {
    width: 120px;
}

.thead tr th:nth-child(3) {
    width: 120px;
}

.thead tr th:nth-child(4) {
    width: 145px;
}

.thead tr th:nth-child(5) {
    width: 145px;
}

.thead tr th:nth-child(6) {
    width: 210px;
}

.thead tr th:nth-child(7) {
    width: 85px;
}

.modal-dialog {
    height: 90%;
}

.modal-content {
    padding: 34px 0 40px 0;
    max-width: 530px;
    max-height: 184px;
    top: calc(50% - 92px);
    left: calc(50% - 265px);
}

.modal-text {
    font-family: RobotoMedium, sans-serif;
    color: #290661;
}

.button-delete {
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 1440px) {
    .main-info-table {
        padding-right: 5px !important;
    }
}

@media screen and (max-width: 1229px) {
    .sidebar {
        max-width: 195px;
    }

    .main-sidebar {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .balance {
        margin-left: 10px !important;
    }

    .main-info {
        margin-left: 10px !important;
    }

    .main-info-title {
        text-align: center;
    }

    .main-info-actions {
        text-align: center;
    }

    .container-fluid {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
    }

    .main-info-action {
        display: block !important;
    }

    .main-info-action .navbar .btn {
        justify-self: center;
        width: 200px;
        height: unset;
        margin-right: 0;
    }

    .main-info-action .navbar .btn:first-child, .main-info-action .navbar .btn:nth-child(4) {
        justify-self: end;
    }

    .main-info-action .navbar .btn:nth-child(3), .main-info-action .navbar .btn:nth-child(6) {
        justify-self: start;
    }

    .main-info-action-dates {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table {
        max-width: 945px;
    }
}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
    .main-info {
        margin-left: 10px !important;
    }

    .main-info-action .navbar .btn {
        font-size: 14px;
        max-width: 150px;
    }

    .main-info-action-dates > * {
        font-size: 14px !important;
    }

    .btn-link {
        padding: 8px !important;
    }

    .main-info-table {
        margin-right: 10px;
    }

    th, td {
        font-size: 12px;
    }

    .modal-content {
        padding: 25px 0;
        max-width: 430px;
        top: calc(50% - 65px);
        left: calc(50% - 215px);
    }

    .modal-text {
        font-size: 16px !important;
    }
}

/* 425 - 767 */
@media screen and (max-width: 767px) {
    .main-info {
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .main-info-title {
        font-size: 24px !important;
        text-align: center;
        margin-bottom: 15px !important;
    }

    .action-button {
        font-size: 12px !important;
    }

    .main-info-action .navbar .btn {
        max-width: 115px;
    }

    .btn-outline-secondary {
        font-size: 12px !important;
    }

    .main-info-action-dates > * {
        font-size: 12px !important;
    }

    .btn-link {
        padding: 5px !important;
    }

    .main-info-table {
        margin-right: 0;
        margin-left: 5px;
    }

    .thead th, .tbody th, .tbody td {
        vertical-align: middle;
    }

    th, td {
        padding: 8px 0 !important;
        font-size: 10px;
    }

    .btn-delete {
        padding: 0 2px 6px 0 !important;
    }

    .btn-edit {
        padding: 0 0 6px 2px !important;
    }

    .modal-content {
        max-width: 330px;
        top: calc(50% - 62px);
        left: calc(50% - 165px);
    }

    .modal-text {
        font-size: 14px !important;
    }

    .button-delete {
        font-size: 12px
    }
}

/* 375 - 424 */
@media screen and (max-width: 424px) {
    .action-button {
        font-size: 10px !important;
    }

    .container-fluid {
        grid-row-gap: 10px;
    }

    .main-info-action .navbar .btn {
        margin-right: 0;
        font-size: 10px !important;
        width: 90px;
        justify-self: center;
    }

    .main-info-action-dates > * {
        font-size: 10px !important;
    }

    .btn-delete img {
        width: 12px;
        height: 13px;
    }

    .btn-edit img {
        width: 13px;
        height: 13px;
    }

    .modal-content {
        padding: 15px 0;
    }
}

/* 320 - 374 */
@media screen and (max-width: 374px) {
    .main-info-table {
        padding-top: 0 !important;
    }

    th, td {
        font-size: 8px;
    }

    .modal-content {
        padding: 15px 0;
        max-width: 260px;
        top: calc(50% - 63px);
        left: calc(50% - 130px);
    }
}