.main-info-action .navbar .btn {
    margin-right: 20px;
    font-family: RobotoMedium, sans-serif;
    width: 100px;
    height: 37px;
}

.main-info-action-dates {
    font-family: RobotoMedium, sans-serif;
}

.main-info-action-dates span {
    color: black;
}

.main-info-diagrams {
    margin-top: 95px;
}

.wrapper-diagram-gain, .wrapper-diagram-cost {
    width: 521px;
}

.diagram-gain, .diagram-cost {
    width: 437px;
}

.diagram-title {
    font-family: RobotoMedium, sans-serif;
    color: #290661;
}

.diagram-gain span, .diagram-cost span {
    font-size: 12px;
    font-family: RobotoMedium, sans-serif;
    color: #000000;
}

.rectangle {
    width: 35px;
    height: 10px;
}

.orange {
    background: #fd7e14;
}

.yellow {
    background: #ffc107;
}

.green {
    background: #1acc7a;
}

.border-divider {
    height: 510px;
}

.pie-diagram {
    width: 445px;
    height: 445px;
    margin: 0 auto;
}





