@font-face {
    font-family: Roboto;
    src: url("../static/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoMedium;
    src: url("../static/fonts/Roboto-Medium.ttf");
}

body,
html {
    height: 100%;
    font-family: Roboto, sans-serif;
}

.main {
    height: 100%;
}

.sidebar {
    max-width: 219px;
    background: white !important;
    font-size: 14px;
}

.logo-link {

}

.logo {
    width: 98px;
    height: 40px;
}

.nav-item {
    width: 180px;
}

.nav-link {
    height: 40px;
}

.nav-link.collapsed {

}

.menu-link.active span {
    color: white;
}

.menu-link.active svg path {
    fill: white;
}

.btn-toggle {
    font-size: 14px;
    width: 180px !important;
    height: 40px;
    border-radius: 0;
    color: #052C65;
}

.btn-toggle::after {
    content: '';
}

.btn-toggle.active {
    border-radius: 0;
}

.btn-toggle.collapsed {
    border-radius: var(--bs-nav-pills-border-radius);
}

.btn-toggle.active.collapsed .category-arrow {
    transform: rotate(0deg);
}

.category-arrow {
    transition: 0.4s;
}

svg path {
    fill: #052C65;
}

.btn-toggle.active .category-arrow {
    transform: rotate(90deg);
}

.btn-toggle.active span, .btn-toggle.active .category-arrow path {
    color: white;
    fill: white;
}

.category-item {
    padding: 8px 0 8px 12px;
    font-size: 14px;
}

.balance {
    font-family: RobotoMedium, sans-serif;
    color: #052C65;
}

.nav-item span {
    color: #052C65;
}

.main-info-title {
    font-family: RobotoMedium, sans-serif;
    color: #052C65;
}

.main-info-action .navbar .btn {
    margin-right: 20px;
    font-family: RobotoMedium, sans-serif;
    width: 100px;
    height: 37px;
}

.main-info-action-dates {
    font-family: RobotoMedium, sans-serif;
}

.main-info-action-dates span {
    color: black;
}

.main-info-diagrams {
    margin-top: 95px;
}

.wrapper-diagram-gain, .wrapper-diagram-cost {
    width: 521px;
}

.diagram-gain, .diagram-cost {
    width: 437px;
}

.diagram-title {
    font-family: RobotoMedium, sans-serif;
    color: #290661;
}

.diagram-gain span, .diagram-cost span {
    font-size: 12px;
    font-family: RobotoMedium, sans-serif;
    color: #000000;
}

.rectangle {
    width: 35px;
    height: 10px;
}

.orange {
    background: #fd7e14;
}

.yellow {
    background: #ffc107;
}

.green {
    background: #1acc7a;
}

.border-divider {
    height: 510px;
}

.pie-diagram {
    width: 445px;
    height: 445px;
    margin: 0 auto;
}





