@font-face {
    font-family: Roboto;
    src: url("../static/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: RobotoMedium;
    src: url("../static/fonts/Roboto-Medium.ttf");
}

body,
html {
    height: 100%;
    font-family: Roboto, sans-serif;
}

.main {
    max-width: 400px;
}

.container {
    padding: 0;
}

.form-check-label {
    font-size: 12px;
}

.login-text {
    font-family: RobotoMedium, sans-serif;
    color: #052C65;
}

.login-actions-link {
    font-size: 12px;
}

.input-group.error {
    border-color: red!important;
}